* {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

body {
    width: 1000px;
    display: block;
    margin: 30px 30px;
}

h1 a {
    color: #FFCA2B;
    font-size: 62px;
    
   
}

a, u {
    text-decoration: none;
}

h2 a {
    color: rgb(0, 0, 0);
    
}

header nav a {
    color: gray;
    text-decoration: underline;
   
    
    
}  

article p::first-letter {
    color: #dbd9d9;
    font-size: 100px;  
 }
h3 {
    color: #dbd9d9;
  
}

h4 a {
    color: #FFCA2B; 
    float: right;
}

footer nav {
    color: #FFCA2B;

    font-size: 16px;
    

}

p {
    font-size: 1em;
    text-indent: inherit;
   
}


h2 {
   
    font-weight: normal;
}

article {
    border-bottom: 1px solid black;
}
