* {
    font-family: 'Lato', sans-serif;
}

h1 a {
    color: #FFCA2B;
    font-size: 62px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 40px;
    margin-right: 40px;
}

a, u {
    text-decoration: none;
}

h2 a {
    font-family: sans-serif;
    color: rgb(0, 0, 0);
    
}

header nav {
    color: white;
    font-family: Arial Narrow, Arial, sans-serif;
    text-decoration: underline;
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 40px;
    margin-right: 40px;    
    
    
    
}  

article p::first-letter {
    color: #dbd9d9;
    font-size: 100px;  
 }
h3 {
    color: #dbd9d9;
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 42px; 
}

h4 a {
    color: #FFCA2B;
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 40px;
    margin-right: 40px;
    float: right;
}

footer nav {
    color: #FFCA2B;
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 40px;
    margin-right: 40px;
    font-weight: normal;
    font-size: 20px;
    

}

p {
    text-indent: -2em;
    font-size: 1em;
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 40px;
    margin-right: 40px;
    text-indent: 0;
    
    
}

img {
    width: 50%;
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 40px;
    margin-right: 40px;
}

h2 {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 40px;
    margin-right: 40px;
    font-weight: normal;
}

article {
    font-family: Arial Narrow, Arial, sans-serif;  
}